*

!/.assets/i/*
!/.gitignore
!/README.md

!*/
!images/icon-192x192.png
!inc/plugins/gcm_push_notifications/*
!inc/plugins/gcm_push_notifications/*/*
!inc/plugins/gcm_push_notifications/*/*/*
!inc/plugins/gcm_push_notifications/*/*/*
!inc/plugins/gcm_push_notifications/*/*/*/*
!inc/plugins/gcm_push_notifications/*/*/*/*/*
!inc/plugins/gcm_push_notifications_plugin.php
!inc/plugins/gcm_push_notifications_plugin.log
!jscripts/gcm_push_notifications.js.php
!gcm_push_notifications.php
!IndexDBWrapper.js
!manifest.json.php
!service-worker.js.php